{% extends "base.html"%}
{% block content %}
<center>
    <br><br><br><br><br><br>
<div class="jumbotron" style="width: 400px ;background-color: darkslategray;color: floralwhite">
	<div class="cols-xs-3 cols-xs-offset-3">
        <form method="post">
        {% csrf_token %}


        <legend style="color: whitesmoke">ForgotPassword(Step-3 of 3)</legend>
        <div class="form-group" style="width: 250px">
            <label>Enter New Password </label>

            {{form.password}}

            <input type="submit" style="color:black" >
        </div>

    </form>
    </div>
</div>
    </center>
{% endblock %}